@model APMKommune.Models.Supplier

<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<div>

    <form id="myForm">
        @Html.HiddenFor(s => s.SupplierId)

        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Leverandør navn" })
        <br />


        <a href="#" id="btnSubmit" class="btn btn-success ">
            @if (Model != null && Model.SupplierId > 0)
        { <span> Oppdater</span>}
        else
        {<span> Lagre</span> }

    </a>




</form>




<div style="text-align:center;display:none" id="loaderDiv">



    <!--SlowLoader gif-->



    <img src="~/Content/Images/images.png" />



</div>








</div>
<script>
    $(document).ready(function () {

        $("#btnSubmit").click(function () {
            $("#loaderDiv").show();

                var data = $("#myForm").serialize();

            $.ajax({
                type:"POST",
                url: "/Suppliers/Create",
                data: data,
                success:function(){
                    $("#loaderDiv").hide();

                        $("#AddAndEdit").modal("hide");
                        window.location.href ="/Suppliers/Index";

                    }

                })

        })
    })


    /*var AddEditSegment = function (SegmentId) {


        var url = "/Segments/AddEditSegment?SegmentID=" + SegmentId;
        $("#showModalBodyDiv").load(url, function () {
            $("#ShowModal").modal('show');
        })
        ///Dette er to like måter å gjøre det på

        /* $.ajax({
             type: "POST",
             url: "/Segments/ShowSegment",
             data:{SegmentId: segmentId},
             success: function (response) {

                 $("#showModalBodyDiv1").html(response);
                 $("#ShowModal1").modal('show');


             }
         })*/

    /*}*/


</script>


