@model IEnumerable<APMKommune.Models.Segment>

@{

    ViewBag.Title = "Etater";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />


<a href="#" class="btn btn-primary" id="btnNewSegment" onclick="AddEditSegment(0)" style="margin-bottom:30px;margin-top:30px;">Ny Etat</a>

<table class="table table-striped">
    <tr>
        <th>
            Etat
        </th>
        <th>
        </th>

    </tr>

    <tbody>
        @if (ViewBag.Segmentliste != null)
        {
            foreach (var item in ViewBag.Segmentliste)
            {
                <tr id="row_@item.SegmentId">
                    <td>
                        @item.Name
                    </td>

                    <td>
                        <a hr="#" class="btn  " onclick="ConfirmDelete(@item.SegmentId)"><i class="fa fa-trash-o" aria-hidden="true" style="color:red"></i> </a>
                        <a hr="#" class="btn btnEditSegment" onclick="AddEditSegment(@item.SegmentId)"><i class="glyphicon glyphicon-pencil"></i> </a>
                    </td>
                </tr>

            }
        }
    </tbody>

</table>

<input type="hidden" id="hiddenSegmentId" />
<!--Deletemodal-->
<div id="deleteModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-body">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4>Er du sikker på at du vil slette denne etaten?</h4>

                <div style="text-align:center;display:none " id="loaderDiv">
                    <i class="fa fa-spinner" aria-hidden="true"></i>
                </div>
            </div><!--Body-->

            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Avbryt</a>
                <a href="#" class="btn btn-success" onclick="DeleteSegment()">Slett</a>
            </div>
        </div>
    </div>
</div>
<!--Slutt på deletemodal-->

<div id="AddAndEdit" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 class="modal-title" id="modalNewSegment"></h4>
            </div>

            <div class="modal-body" id="showModalBodyDiv1">

                @Html.Partial("_AddEditPartial");

            </div><!--Body-->


        </div>

    </div>
</div>



<script>
    $(document).ready(function () {})

    var ConfirmDelete = function (SegmentId) {
        $("#hiddenSegmentId").val(SegmentId);
        $("#deleteModal").modal("show");
    }

    var DeleteSegment = function () {
        $("#loaderDiv").show();

        var SegId = $("#hiddenSegmentId").val();

        $.ajax({
            type: "POST",
            url: "/Segment/Delete",
            data: { SegmentId: SegId },
            success: function (result) {
                $("#loaderDiv").hide();
                $("#row_" + SegId).remove();
                $("#deleteModal").modal('hide');
            },
            error: function (xhr, status, error) {
                alert("En feil oppsto ved sletting - " + error);
                $("#loaderDiv").hide();
                $("#deleteModal").modal('hide');
            }
        })
    }

    var AddEditSegment = function (SegmentId) {
        $("#AddAndEdit").modal('show');

        $.ajax({
            type: "POST",
            url: "/Segment/AddEditSegment",
            data: { SegmentId: SegmentId },
            success: function (response) {

                $("#showModalBodyDiv1").html(response);
                $("#AddAndEdit").modal('Hide');

            }
        })
    }


    $("#btnNewSegment").click(function () {
        $(this).data("clicked", true);
        $("#modalNewSegment").html("Legg til ny etat");
    });

    $(".btnEditSegment").click(function () {
        $(this).data("clicked", true);
        $("#modalNewSegment").html("Rediger etat");
    });

</script>